* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Glacial Indifference', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

    background-image: url(LGimage/p1.jpg);
    background-size: cover;
    background-position: center;

    position: relative;
}

header:before {   
    background-color: rgba(78, 62, 52, 0.5);
}

header:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

header .signName {
    position: relative;
    transform: translateY(-90%);

    font-family: 'Brittany Signature', sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 3px;

    text-shadow: 5px 5px 30px #000;
}

header .signName p {
    font-size: 40px;
    line-height: 20px;
}

header .signName span {
    font-size: 25px;
}

header .landing-page {
    position: relative;
    z-index: 1;
    width: 300px;
    height: 175px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);


}

header .landing-page:hover {
    border: 2px solid navy;
}

/*I Do*/
header .landing-page h2 {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-top: 30px;

    font-size: clamp(0.9375rem, 0.9375rem + 0vw, 0.9375rem);
}

header .landing-page span {
    font-weight: 700;
}

/*Wedding Date*/
header .landing-page h1 {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 3px;

    font-size: clamp(1.5625rem, 1.5625rem + 0vw, 1.5625rem);
}

/*countdown numbers*/
.countdown {
    display: flex;
    color: #fff;
    text-shadow: 0px 0px 20px #000;
}

.countdown div {
    flex-basis: 200px;
}

/*countdown numbers*/
.countdown p {
    font-size: 40px;
    margin-bottom: -9px;  
    font-weight: 300;  
    
    font-size: clamp(2.5rem, 2.5rem + 0vw, 2.5rem);
}

/*Days Hours Minutes Seconds*/
.countdown span {
    font-size: 10px;
    margin-bottom: -9px;  
    font-weight: 100;   
    
    font-size: clamp(0.625rem, 0.625rem + 0vw, 0.625rem);
}

@media screen and (min-width: 480px) {
    header .landing-page {
        width: 70%;
    }
}

@media screen and (min-width: 720px) {
    header .landing-page {
        width: 55%;
    }
}

@media screen and (min-width: 1080px) {
    header .landing-page {
        width: 45%;
    }
}
